<!DOCTYPE html>
<html ng-app>

<head>

<!-- Style Sheet -->
<link href="style.css" rel="stylesheet" type="text/css">
<!-- AngularJS CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</head>

<body>

  <!-- When this element is clicked, hide the tooltip -->
  <div id="main" ng-controller="InlineEditorController" ng-click="hideTooltip()">

  	<!-- This is the tooltip. It is shown only when the showtooltip variable is truthful -->
  	<div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">

  		<!-- ng-model binds the contents of the text field with the "value" model.
  		 Any changes to the text field will automatically update the value, and
  		 all other bindings on the page that depend on it.  -->
  		<input type="text" ng-model="value" />
      <input type="text" ng-model="value2" />
  	</div>
      <div id="writeUp">
  	<p ng-click="toggleTooltip($event)">{{value}}</p>
    <p ng-click="toggleTooltip($event)">{{value2}}</p>
      </div>
  </div>

<!-- JavaScript -->
<script type="text/javascript" src="script.js"></script>

</body>

</html>
